<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
          
<head>
  <link rel ="stylesheet" href="/public/Content/app.css">
</head>

    <body background="\Assets\images\background1.jpg">   </body>
    <h1>Welcome to About page</h1>
    
    

    
 
   




<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
