<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

    <body background="\Assets\images\background2.jpg">   </body>
       



<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
